h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
}

.nav-links .active {
  font-weight: bold;

  text-decoration: underline;
}

.nav-links a:hover {
  color: rgba(255, 255, 255, 0.671);
}

.App {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 100vh;
}

.nav-bar-container {
  width: 100%;
  height: 40px;
  background-color: #4cb050;
  position: fixed;
  z-index: 9999;
}

.nav-bar {
  width: 70vw;
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 999;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  cursor: default;
}

.nav-links a {
  color: white;
  margin: 0 20px;
}

label {
  margin: 0 0 0 8px;
  font-size: 0.8rem;
}

.login-page-container {
  padding-top: 150px;
}

.login-container {
  width: 500px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;

  overflow: hidden;
  box-shadow: 0 0 37px 5px #00000017;
}

.login-container form {
  width: 100%;
}

.login-container form input {
  display: block;
  width: 100%;
  margin: 5px auto;
  border-radius: 8px 8px 0 8px;
  background: none;
  background-color: #f6f6f6;
  border: 1px solid #dedede65;
  height: 45px;
  padding-left: 20px;
}

::placeholder {
  color: rgba(39, 45, 45, 0.349);
}

.input-container {
  text-align: left;
  margin: 30px 0;
}

.form-container {
  width: 70%;
  margin: 40px auto 0 auto;
}

.login-header {
  background-color: #4cb050;

  padding: 20px 0;
}

.login-header h1 {
  font-size: 2.6rem;
  margin: 0;
  color: white;
}

.business-button {
  background: none;
  border: none;
  background-color: #c94e3e;
  border-radius: 8px 8px 0 8px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 0 0 5px 2px #00000018;
  cursor: pointer;
}

.volunteer-button {
  background: none;
  border: none;
  background-color: #3066be;
  border-radius: 8px 8px 0 8px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 0 0 5px 2px #00000018;
  cursor: pointer;
}

.business-button:hover {
  background-color: #ad4436;
}

.volunteer-button:hover {
  background-color: #28559e;
}

.login-button-holder {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  /* padding-top: 50px; */
}

.claimed {
  background-color: #adadad21;
  z-index: 0;
}

.claimed h2,
.claimed p {
  opacity: 0.5;
}

.claimed-by-you {
  background-color: #4cb04f67;
  z-index: 0;
}

.unclaimed {
  z-index: 0;
}

.unclaimed h2,
.unclaimed p {
  opacity: 1;
}

.active a {
  color: red;
}

/* Start Business Dashboard Styling */

.business-dash-columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.column-middle {
  width: 90%;
}

.business-dash-container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.dashboard-top {
  text-align: left;

  margin-bottom: 20px;
}

.business-card {
  width: 300px;
  height: auto;
  border-radius: 19px;
  background-color: white;
  overflow: hidden;
  margin: 20px 0;
}

.business-photo {
  width: 100%;
  height: 160px;
  background-image: url("https://www.replate.org/photos/original/missing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.business-card-description {
  text-align: left;
  padding: 15px;
}

.business-card-description h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.business-card-description h4 {
  font-size: 0.8rem;
  margin: 0;
}

.ant-modal-content {
  width: 550px;
  background-color: white;
  box-shadow: 0 0 37px 5px #00000025;
  border-radius: 15px !important;
  overflow: hidden;
}

.ant-modal-close-x {
  color: white;
}

.ant-modal-content .form-wrapper {
  width: 70%;
  margin: 40px auto 60px auto;
}

.ant-modal-header {
  width: 100% !important;
  background-color: #4cb050 !important;
}

.ant-modal-title {
  color: white !important;
  text-align: center !important;
  font-size: 2rem !important;
  padding: 10px !important;
}

.business-location {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.ant-modal-header .food-pickup-form-header {
  width: 100%;
  background-color: #4cb050;
  padding: 30px 0;
  color: white;
}

.food-pickup-form-header h1 {
  font-size: 2.6rem;
  margin: 0;
}

.pickup-name-input,
.pickup-date-input,
.pickup-time-input,
.pickup-description-input {
  text-align: left;
}

.ant-modal-body form input {
  display: block;
  width: 90%;
  margin: 5px auto;
  border-radius: 8px 8px 0 8px;
  background: none;
  background-color: #f6f6f6;
  border: 1px solid #dedede65;
  height: 45px;
  padding-left: 20px;
}

.ant-modal-footer {
  display: none;
}

.pickup-button {
  background: none;
  border: none;
  background-color: #4cb050;
  border-radius: 8px 8px 0 8px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 30px;
  box-shadow: 0 0 5px 2px #00000018;
  width: 100%;
  cursor: pointer;
}

.ant-btn-primary {
  background-color: #4cb050 !important;
  border-radius: 8px 8px 0 8px !important;
  border: none !important;
}

.ant-btn-primary:hover {
  background-color: #3d8d40 !important;
}

.ant-btn-secondary:hover {
  background-color: #a03e31 !important;
}

.ant-btn-default:hover {
  background-color: #275091 !important;
}

.ant-btn-secondary {
  background-color: #c94e3e !important;
  color: white !important;
  border-radius: 8px 8px 0 8px !important;
  border: none !important;
}

.ant-btn-default {
  background-color: #3066be !important;
  color: white !important;
  border-radius: 8px 8px 0 8px !important;
  border: none !important;
}

.pickup-button:hover {
  background-color: #409142;
}

/* END BUSINESS DASHBOARD STYLING */

/* START SEARCH BAR STYLING */

.search-bar-container {
  background-color: white;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(226, 226, 226);
  position: fixed;
  width: 100%;
  z-index: 999999;
  margin-top: 40px;
}

.search-bar-container input {
  border: none;
  font-size: 0.8rem;
  background-color: #fafafa;
  text-align: center;
  width: auto;
  height: 30px;
  margin-top: 15px;
}

.search-bar-container h2 {
  font-size: 0.8rem;
  display: inline;
  margin-right: 10px;
}

.sign-up-wrapper {
  padding-top: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 70%;
  align-items: center;
}

.sign-up-left {
  width: 30%;
  text-align: left;
}

.sign-up-wrapper h1 {
  margin: 0 0 0 40px;
  color: #272d2d;
  padding: 20px 0 0 0;
  font-size: 3rem;
  text-align: left;
}

.sign-up-wrapper h4 {
  margin: 0 0 0 40px;
  padding-bottom: 20px;
}

.radio-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.radio-div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 20px 0;
}

.radio-div i {
  font-size: 3.4rem;
  margin: 0 20px 0 10px;
}

.sign-up-middle-line {
  border-right: 1px solid rgba(0, 0, 0, 0.144);
  height: 700px;
}

.reserved-food {
  text-align: left;
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.109);

  margin: 0 200px 50px 200px;
}

.reserved-food-items {
  border-top: 1px solid rgba(0, 0, 0, 0.109);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.unclaimed-food {
  text-align: left;
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.109);

  margin: 0 200px;
}

.unclaimed-food-items {
  border-top: 1px solid rgba(0, 0, 0, 0.109);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
